  .v-grid {
  padding: 0 15px !important;

  &--container {
    @media(min-width: 576px) {
      max-width: 540px !important;
    }

    @media(min-width: 768px) {
      max-width: 720px !important;
    }

    @media(min-width: 992px) {
      max-width: 960px !important;
    }

    @media(min-width: 1200px) {
      max-width: 1140px !important;
    }

    @media(min-width: 1500px) {
      max-width: 1470px !important;
    }
  }
}

main {
  margin-top: 95px;
}

.section {
  padding: {
    top: 110px;
    bottom: 110px;
  }
}


.v-grid {
  box-sizing: border-box;
display: flex;
flex-direction: column;
padding: 0 0.5rem;
}
.v-grid--container {
margin: 0 auto;
max-width: 1200px;
width: 100%;
}
.v-grid--no-gutters {
padding: 0;
}
.v-grid--xs-no-gutters {
margin: 0;
}
@media (min-width: 544px) {
.v-grid--sm-no-gutters {
  margin: 0;
}
}
@media (min-width: 768px) {
.v-grid--md-no-gutters {
  margin: 0;
}
}
@media (min-width: 992px) {
.v-grid--lg-no-gutters {
  margin: 0;
}
}
@media (min-width: 1200px) {
.v-grid--xl-no-gutters {
  margin: 0;
}
}
.v-row {
box-sizing: border-box;
display: flex;
flex: 0 1 100%;
flex-direction: row;
flex-wrap: wrap;
list-style: none;
margin: -1rem -0.5rem 1rem;
padding: 0;
}
.v-row:last-child {
margin-bottom: 0;
}
.v-row--no-gutters {
margin: 0;
}
.v-row--top {
align-items: flex-start;
}
.v-row--center {
align-items: center;
}
.v-row--bottom {
align-items: flex-end;
}
.v-row--reverse {
flex-direction: row-reverse;
}
.v-row--xs-no-gutters {
margin: 0;
}
.v-row--xs-top {
align-items: flex-start;
}
.v-row--xs-center {
align-items: center;
}
.v-row--xs-bottom {
align-items: flex-end;
}
.v-row--xs-reverse {
flex-direction: row-reverse;
}
@media (min-width: 544px) {
.v-row--sm-no-gutters {
  margin: 0;
}
.v-row--sm-top {
  align-items: flex-start;
}
.v-row--sm-center {
  align-items: center;
}
.v-row--sm-bottom {
  align-items: flex-end;
}
.v-row--sm-reverse {
  flex-direction: row-reverse;
}
}
@media (min-width: 768px) {
.v-row--md-no-gutters {
  margin: 0;
}
.v-row--md-top {
  align-items: flex-start;
}
.v-row--md-center {
  align-items: center;
}
.v-row--md-bottom {
  align-items: flex-end;
}
.v-row--md-reverse {
  flex-direction: row-reverse;
}
}
@media (min-width: 992px) {
.v-row--lg-no-gutters {
  margin: 0;
}
.v-row--lg-top {
  align-items: flex-start;
}
.v-row--lg-center {
  align-items: center;
}
.v-row--lg-bottom {
  align-items: flex-end;
}
.v-row--lg-reverse {
  flex-direction: row-reverse;
}
}
@media (min-width: 1200px) {
.v-row--xl-no-gutters {
  margin: 0;
}
.v-row--xl-top {
  align-items: flex-start;
}
.v-row--xl-center {
  align-items: center;
}
.v-row--xl-bottom {
  align-items: flex-end;
}
.v-row--xl-reverse {
  flex-direction: row-reverse;
}
}
.v-col {
box-sizing: border-box;
flex: 0 0 100%;
flex-direction: column;
max-width: 100%;
padding: 1rem 0.5rem 0;
}
.v-col--no-gutters {
padding: 0;
}
.v-col--align-top {
align-self: flex-start;
}
.v-col--align-center {
align-self: center;
}
.v-col--align-bottom {
align-self: flex-end;
}
.v-col--first {
order: -1;
}
.v-col--last {
order: 1;
}
.v-col--reset {
order: 0;
}
.v-col--flex {
display: flex;
}
.v-col--xs-no-gutters {
padding: 0;
}
.v-col--xs-align-top {
align-self: flex-start;
}
.v-col--xs-align-center {
align-self: center;
}
.v-col--xs-align-bottom {
align-self: flex-end;
}
.v-col--xs-first {
order: -1;
}
.v-col--xs-last {
order: 1;
}
.v-col--xs-reset {
order: 0;
}
.v-col--xs-flex {
display: flex;
}
.v-col--xs {
flex-grow: 1;
flex-basis: 0;
max-width: 100%;
}
.v-col--xs-0 {
flex: 0 0 0;
max-width: 0;
}
.v-col--xs-1 {
flex: 0 0 8.333333333333332%;
max-width: 8.333333333333332%;
}
.v-col--xs-2 {
flex: 0 0 16.666666666666664%;
max-width: 16.666666666666664%;
}
.v-col--xs-3 {
flex: 0 0 25%;
max-width: 25%;
}
.v-col--xs-4 {
flex: 0 0 33.33333333333333%;
max-width: 33.33333333333333%;
}
.v-col--xs-5 {
flex: 0 0 41.666666666666664%;
max-width: 41.666666666666664%;
}
.v-col--xs-6 {
flex: 0 0 50%;
max-width: 50%;
}
.v-col--xs-7 {
flex: 0 0 58.33333333333333%;
max-width: 58.33333333333333%;
}
.v-col--xs-8 {
flex: 0 0 66.66666666666666%;
max-width: 66.66666666666666%;
}
.v-col--xs-9 {
flex: 0 0 75%;
max-width: 75%;
}
.v-col--xs-10 {
flex: 0 0 83.33333333333333%;
max-width: 83.33333333333333%;
}
.v-col--xs-11 {
flex: 0 0 91.66666666666666%;
max-width: 91.66666666666666%;
}
.v-col--xs-12 {
flex: 0 0 100%;
max-width: 100%;
}
.v-col--xs-offset-0 {
margin-left: 0;
}
.v-col--xs-offset-1 {
margin-left: 8.333333333333332%;
}
.v-col--xs-offset-2 {
margin-left: 16.666666666666664%;
}
.v-col--xs-offset-3 {
margin-left: 25%;
}
.v-col--xs-offset-4 {
margin-left: 33.33333333333333%;
}
.v-col--xs-offset-5 {
margin-left: 41.666666666666664%;
}
.v-col--xs-offset-6 {
margin-left: 50%;
}
.v-col--xs-offset-7 {
margin-left: 58.33333333333333%;
}
.v-col--xs-offset-8 {
margin-left: 66.66666666666666%;
}
.v-col--xs-offset-9 {
margin-left: 75%;
}
.v-col--xs-offset-10 {
margin-left: 83.33333333333333%;
}
.v-col--xs-offset-11 {
margin-left: 91.66666666666666%;
}
.v-col--xs-offset-12 {
margin-left: 100%;
}
@media (min-width: 544px) {
.v-col--sm-no-gutters {
  padding: 0;
}
.v-col--sm-align-top {
  align-self: flex-start;
}
.v-col--sm-align-center {
  align-self: center;
}
.v-col--sm-align-bottom {
  align-self: flex-end;
}
.v-col--sm-first {
  order: -1;
}
.v-col--sm-last {
  order: 1;
}
.v-col--sm-reset {
  order: 0;
}
.v-col--sm-flex {
  display: flex;
}
.v-col--sm {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.v-col--sm-0 {
  flex: 0 0 0;
  max-width: 0;
}
.v-col--sm-1 {
  flex: 0 0 8.333333333333332%;
  max-width: 8.333333333333332%;
}
.v-col--sm-2 {
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%;
}
.v-col--sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.v-col--sm-4 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.v-col--sm-5 {
  flex: 0 0 41.666666666666664%;
  max-width: 41.666666666666664%;
}
.v-col--sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.v-col--sm-7 {
  flex: 0 0 58.33333333333333%;
  max-width: 58.33333333333333%;
}
.v-col--sm-8 {
  flex: 0 0 66.66666666666666%;
  max-width: 66.66666666666666%;
}
.v-col--sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.v-col--sm-10 {
  flex: 0 0 83.33333333333333%;
  max-width: 83.33333333333333%;
}
.v-col--sm-11 {
  flex: 0 0 91.66666666666666%;
  max-width: 91.66666666666666%;
}
.v-col--sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.v-col--sm-offset-0 {
  margin-left: 0;
}
.v-col--sm-offset-1 {
  margin-left: 8.333333333333332%;
}
.v-col--sm-offset-2 {
  margin-left: 16.666666666666664%;
}
.v-col--sm-offset-3 {
  margin-left: 25%;
}
.v-col--sm-offset-4 {
  margin-left: 33.33333333333333%;
}
.v-col--sm-offset-5 {
  margin-left: 41.666666666666664%;
}
.v-col--sm-offset-6 {
  margin-left: 50%;
}
.v-col--sm-offset-7 {
  margin-left: 58.33333333333333%;
}
.v-col--sm-offset-8 {
  margin-left: 66.66666666666666%;
}
.v-col--sm-offset-9 {
  margin-left: 75%;
}
.v-col--sm-offset-10 {
  margin-left: 83.33333333333333%;
}
.v-col--sm-offset-11 {
  margin-left: 91.66666666666666%;
}
.v-col--sm-offset-12 {
  margin-left: 100%;
}
}
@media (min-width: 768px) {
.v-col--md-no-gutters {
  padding: 0;
}
.v-col--md-align-top {
  align-self: flex-start;
}
.v-col--md-align-center {
  align-self: center;
}
.v-col--md-align-bottom {
  align-self: flex-end;
}
.v-col--md-first {
  order: -1;
}
.v-col--md-last {
  order: 1;
}
.v-col--md-reset {
  order: 0;
}
.v-col--md-flex {
  display: flex;
}
.v-col--md {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.v-col--md-0 {
  flex: 0 0 0;
  max-width: 0;
}
.v-col--md-1 {
  flex: 0 0 8.333333333333332%;
  max-width: 8.333333333333332%;
}
.v-col--md-2 {
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%;
}
.v-col--md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.v-col--md-4 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.v-col--md-5 {
  flex: 0 0 41.666666666666664%;
  max-width: 41.666666666666664%;
}
.v-col--md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.v-col--md-7 {
  flex: 0 0 58.33333333333333%;
  max-width: 58.33333333333333%;
}
.v-col--md-8 {
  flex: 0 0 66.66666666666666%;
  max-width: 66.66666666666666%;
}
.v-col--md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.v-col--md-10 {
  flex: 0 0 83.33333333333333%;
  max-width: 83.33333333333333%;
}
.v-col--md-11 {
  flex: 0 0 91.66666666666666%;
  max-width: 91.66666666666666%;
}
.v-col--md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.v-col--md-offset-0 {
  margin-left: 0;
}
.v-col--md-offset-1 {
  margin-left: 8.333333333333332%;
}
.v-col--md-offset-2 {
  margin-left: 16.666666666666664%;
}
.v-col--md-offset-3 {
  margin-left: 25%;
}
.v-col--md-offset-4 {
  margin-left: 33.33333333333333%;
}
.v-col--md-offset-5 {
  margin-left: 41.666666666666664%;
}
.v-col--md-offset-6 {
  margin-left: 50%;
}
.v-col--md-offset-7 {
  margin-left: 58.33333333333333%;
}
.v-col--md-offset-8 {
  margin-left: 66.66666666666666%;
}
.v-col--md-offset-9 {
  margin-left: 75%;
}
.v-col--md-offset-10 {
  margin-left: 83.33333333333333%;
}
.v-col--md-offset-11 {
  margin-left: 91.66666666666666%;
}
.v-col--md-offset-12 {
  margin-left: 100%;
}
}
@media (min-width: 992px) {
.v-col--lg-no-gutters {
  padding: 0;
}
.v-col--lg-align-top {
  align-self: flex-start;
}
.v-col--lg-align-center {
  align-self: center;
}
.v-col--lg-align-bottom {
  align-self: flex-end;
}
.v-col--lg-first {
  order: -1;
}
.v-col--lg-last {
  order: 1;
}
.v-col--lg-reset {
  order: 0;
}
.v-col--lg-flex {
  display: flex;
}
.v-col--lg {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.v-col--lg-0 {
  flex: 0 0 0;
  max-width: 0;
}
.v-col--lg-1 {
  flex: 0 0 8.333333333333332%;
  max-width: 8.333333333333332%;
}
.v-col--lg-2 {
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%;
}
.v-col--lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.v-col--lg-4 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.v-col--lg-5 {
  flex: 0 0 41.666666666666664%;
  max-width: 41.666666666666664%;
}
.v-col--lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.v-col--lg-7 {
  flex: 0 0 58.33333333333333%;
  max-width: 58.33333333333333%;
}
.v-col--lg-8 {
  flex: 0 0 66.66666666666666%;
  max-width: 66.66666666666666%;
}
.v-col--lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.v-col--lg-10 {
  flex: 0 0 83.33333333333333%;
  max-width: 83.33333333333333%;
}
.v-col--lg-11 {
  flex: 0 0 91.66666666666666%;
  max-width: 91.66666666666666%;
}
.v-col--lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.v-col--lg-offset-0 {
  margin-left: 0;
}
.v-col--lg-offset-1 {
  margin-left: 8.333333333333332%;
}
.v-col--lg-offset-2 {
  margin-left: 16.666666666666664%;
}
.v-col--lg-offset-3 {
  margin-left: 25%;
}
.v-col--lg-offset-4 {
  margin-left: 33.33333333333333%;
}
.v-col--lg-offset-5 {
  margin-left: 41.666666666666664%;
}
.v-col--lg-offset-6 {
  margin-left: 50%;
}
.v-col--lg-offset-7 {
  margin-left: 58.33333333333333%;
}
.v-col--lg-offset-8 {
  margin-left: 66.66666666666666%;
}
.v-col--lg-offset-9 {
  margin-left: 75%;
}
.v-col--lg-offset-10 {
  margin-left: 83.33333333333333%;
}
.v-col--lg-offset-11 {
  margin-left: 91.66666666666666%;
}
.v-col--lg-offset-12 {
  margin-left: 100%;
}
}
@media (min-width: 1200px) {
.v-col--xl-no-gutters {
  padding: 0;
}
.v-col--xl-align-top {
  align-self: flex-start;
}
.v-col--xl-align-center {
  align-self: center;
}
.v-col--xl-align-bottom {
  align-self: flex-end;
}
.v-col--xl-first {
  order: -1;
}
.v-col--xl-last {
  order: 1;
}
.v-col--xl-reset {
  order: 0;
}
.v-col--xl-flex {
  display: flex;
}
.v-col--xl {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.v-col--xl-0 {
  flex: 0 0 0;
  max-width: 0;
}
.v-col--xl-1 {
  flex: 0 0 8.333333333333332%;
  max-width: 8.333333333333332%;
}
.v-col--xl-2 {
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%;
}
.v-col--xl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.v-col--xl-4 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.v-col--xl-5 {
  flex: 0 0 41.666666666666664%;
  max-width: 41.666666666666664%;
}
.v-col--xl-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.v-col--xl-7 {
  flex: 0 0 58.33333333333333%;
  max-width: 58.33333333333333%;
}
.v-col--xl-8 {
  flex: 0 0 66.66666666666666%;
  max-width: 66.66666666666666%;
}
.v-col--xl-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.v-col--xl-10 {
  flex: 0 0 83.33333333333333%;
  max-width: 83.33333333333333%;
}
.v-col--xl-11 {
  flex: 0 0 91.66666666666666%;
  max-width: 91.66666666666666%;
}
.v-col--xl-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.v-col--xl-offset-0 {
  margin-left: 0;
}
.v-col--xl-offset-1 {
  margin-left: 8.333333333333332%;
}
.v-col--xl-offset-2 {
  margin-left: 16.666666666666664%;
}
.v-col--xl-offset-3 {
  margin-left: 25%;
}
.v-col--xl-offset-4 {
  margin-left: 33.33333333333333%;
}
.v-col--xl-offset-5 {
  margin-left: 41.666666666666664%;
}
.v-col--xl-offset-6 {
  margin-left: 50%;
}
.v-col--xl-offset-7 {
  margin-left: 58.33333333333333%;
}
.v-col--xl-offset-8 {
  margin-left: 66.66666666666666%;
}
.v-col--xl-offset-9 {
  margin-left: 75%;
}
.v-col--xl-offset-10 {
  margin-left: 83.33333333333333%;
}
.v-col--xl-offset-11 {
  margin-left: 91.66666666666666%;
}
.v-col--xl-offset-12 {
  margin-left: 100%;
}
}
.v-text--left {
text-align: left;
}
.v-text--right {
text-align: right;
}
.v-text--center {
text-align: center;
}
.v-text--xs-right {
text-align: right;
}
.v-text--xs-left {
text-align: left;
}
.v-text--xs-center {
text-align: center;
}
@media (min-width: 544px) {
.v-text--sm-right {
  text-align: right;
}
.v-text--sm-left {
  text-align: left;
}
.v-text--sm-center {
  text-align: center;
}
}
@media (min-width: 768px) {
.v-text--md-right {
  text-align: right;
}
.v-text--md-left {
  text-align: left;
}
.v-text--md-center {
  text-align: center;
}
}
@media (min-width: 992px) {
.v-text--lg-right {
  text-align: right;
}
.v-text--lg-left {
  text-align: left;
}
.v-text--lg-center {
  text-align: center;
}
}
@media (min-width: 1200px) {
.v-text--xl-right {
  text-align: right;
}
.v-text--xl-left {
  text-align: left;
}
.v-text--xl-center {
  text-align: center;
}
}
.v-col {
box-sizing: border-box;
flex: 0 0 100%;
flex-direction: column;
max-width: 100%;
padding: 1rem 0.5rem 0;
}
.v-col--no-gutters {
padding: 0;
}
.v-col--align-top {
align-self: flex-start;
}
.v-col--align-center {
align-self: center;
}
.v-col--align-bottom {
align-self: flex-end;
}
.v-col--first {
order: -1;
}
.v-col--last {
order: 1;
}
.v-col--reset {
order: 0;
}
.v-col--flex {
display: flex;
}
.v-col--xs-no-gutters {
padding: 0;
}
.v-col--xs-align-top {
align-self: flex-start;
}
.v-col--xs-align-center {
align-self: center;
}
.v-col--xs-align-bottom {
align-self: flex-end;
}
.v-col--xs-first {
order: -1;
}
.v-col--xs-last {
order: 1;
}
.v-col--xs-reset {
order: 0;
}
.v-col--xs-flex {
display: flex;
}
.v-col--xs {
flex-grow: 1;
flex-basis: 0;
max-width: 100%;
}
.v-col--xs-0 {
flex: 0 0 0;
max-width: 0;
}
.v-col--xs-1 {
flex: 0 0 8.333333333333332%;
max-width: 8.333333333333332%;
}
.v-col--xs-2 {
flex: 0 0 16.666666666666664%;
max-width: 16.666666666666664%;
}
.v-col--xs-3 {
flex: 0 0 25%;
max-width: 25%;
}
.v-col--xs-4 {
flex: 0 0 33.33333333333333%;
max-width: 33.33333333333333%;
}
.v-col--xs-5 {
flex: 0 0 41.666666666666664%;
max-width: 41.666666666666664%;
}
.v-col--xs-6 {
flex: 0 0 50%;
max-width: 50%;
}
.v-col--xs-7 {
flex: 0 0 58.33333333333333%;
max-width: 58.33333333333333%;
}
.v-col--xs-8 {
flex: 0 0 66.66666666666666%;
max-width: 66.66666666666666%;
}
.v-col--xs-9 {
flex: 0 0 75%;
max-width: 75%;
}
.v-col--xs-10 {
flex: 0 0 83.33333333333333%;
max-width: 83.33333333333333%;
}
.v-col--xs-11 {
flex: 0 0 91.66666666666666%;
max-width: 91.66666666666666%;
}
.v-col--xs-12 {
flex: 0 0 100%;
max-width: 100%;
}
.v-col--xs-offset-0 {
margin-left: 0;
}
.v-col--xs-offset-1 {
margin-left: 8.333333333333332%;
}
.v-col--xs-offset-2 {
margin-left: 16.666666666666664%;
}
.v-col--xs-offset-3 {
margin-left: 25%;
}
.v-col--xs-offset-4 {
margin-left: 33.33333333333333%;
}
.v-col--xs-offset-5 {
margin-left: 41.666666666666664%;
}
.v-col--xs-offset-6 {
margin-left: 50%;
}
.v-col--xs-offset-7 {
margin-left: 58.33333333333333%;
}
.v-col--xs-offset-8 {
margin-left: 66.66666666666666%;
}
.v-col--xs-offset-9 {
margin-left: 75%;
}
.v-col--xs-offset-10 {
margin-left: 83.33333333333333%;
}
.v-col--xs-offset-11 {
margin-left: 91.66666666666666%;
}
.v-col--xs-offset-12 {
margin-left: 100%;
}
@media (min-width: 544px) {
.v-col--sm-no-gutters {
  padding: 0;
}
.v-col--sm-align-top {
  align-self: flex-start;
}
.v-col--sm-align-center {
  align-self: center;
}
.v-col--sm-align-bottom {
  align-self: flex-end;
}
.v-col--sm-first {
  order: -1;
}
.v-col--sm-last {
  order: 1;
}
.v-col--sm-reset {
  order: 0;
}
.v-col--sm-flex {
  display: flex;
}
.v-col--sm {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.v-col--sm-0 {
  flex: 0 0 0;
  max-width: 0;
}
.v-col--sm-1 {
  flex: 0 0 8.333333333333332%;
  max-width: 8.333333333333332%;
}
.v-col--sm-2 {
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%;
}
.v-col--sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.v-col--sm-4 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.v-col--sm-5 {
  flex: 0 0 41.666666666666664%;
  max-width: 41.666666666666664%;
}
.v-col--sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.v-col--sm-7 {
  flex: 0 0 58.33333333333333%;
  max-width: 58.33333333333333%;
}
.v-col--sm-8 {
  flex: 0 0 66.66666666666666%;
  max-width: 66.66666666666666%;
}
.v-col--sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.v-col--sm-10 {
  flex: 0 0 83.33333333333333%;
  max-width: 83.33333333333333%;
}
.v-col--sm-11 {
  flex: 0 0 91.66666666666666%;
  max-width: 91.66666666666666%;
}
.v-col--sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.v-col--sm-offset-0 {
  margin-left: 0;
}
.v-col--sm-offset-1 {
  margin-left: 8.333333333333332%;
}
.v-col--sm-offset-2 {
  margin-left: 16.666666666666664%;
}
.v-col--sm-offset-3 {
  margin-left: 25%;
}
.v-col--sm-offset-4 {
  margin-left: 33.33333333333333%;
}
.v-col--sm-offset-5 {
  margin-left: 41.666666666666664%;
}
.v-col--sm-offset-6 {
  margin-left: 50%;
}
.v-col--sm-offset-7 {
  margin-left: 58.33333333333333%;
}
.v-col--sm-offset-8 {
  margin-left: 66.66666666666666%;
}
.v-col--sm-offset-9 {
  margin-left: 75%;
}
.v-col--sm-offset-10 {
  margin-left: 83.33333333333333%;
}
.v-col--sm-offset-11 {
  margin-left: 91.66666666666666%;
}
.v-col--sm-offset-12 {
  margin-left: 100%;
}
}
@media (min-width: 768px) {
.v-col--md-no-gutters {
  padding: 0;
}
.v-col--md-align-top {
  align-self: flex-start;
}
.v-col--md-align-center {
  align-self: center;
}
.v-col--md-align-bottom {
  align-self: flex-end;
}
.v-col--md-first {
  order: -1;
}
.v-col--md-last {
  order: 1;
}
.v-col--md-reset {
  order: 0;
}
.v-col--md-flex {
  display: flex;
}
.v-col--md {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.v-col--md-0 {
  flex: 0 0 0;
  max-width: 0;
}
.v-col--md-1 {
  flex: 0 0 8.333333333333332%;
  max-width: 8.333333333333332%;
}
.v-col--md-2 {
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%;
}
.v-col--md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.v-col--md-4 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.v-col--md-5 {
  flex: 0 0 41.666666666666664%;
  max-width: 41.666666666666664%;
}
.v-col--md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.v-col--md-7 {
  flex: 0 0 58.33333333333333%;
  max-width: 58.33333333333333%;
}
.v-col--md-8 {
  flex: 0 0 66.66666666666666%;
  max-width: 66.66666666666666%;
}
.v-col--md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.v-col--md-10 {
  flex: 0 0 83.33333333333333%;
  max-width: 83.33333333333333%;
}
.v-col--md-11 {
  flex: 0 0 91.66666666666666%;
  max-width: 91.66666666666666%;
}
.v-col--md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.v-col--md-offset-0 {
  margin-left: 0;
}
.v-col--md-offset-1 {
  margin-left: 8.333333333333332%;
}
.v-col--md-offset-2 {
  margin-left: 16.666666666666664%;
}
.v-col--md-offset-3 {
  margin-left: 25%;
}
.v-col--md-offset-4 {
  margin-left: 33.33333333333333%;
}
.v-col--md-offset-5 {
  margin-left: 41.666666666666664%;
}
.v-col--md-offset-6 {
  margin-left: 50%;
}
.v-col--md-offset-7 {
  margin-left: 58.33333333333333%;
}
.v-col--md-offset-8 {
  margin-left: 66.66666666666666%;
}
.v-col--md-offset-9 {
  margin-left: 75%;
}
.v-col--md-offset-10 {
  margin-left: 83.33333333333333%;
}
.v-col--md-offset-11 {
  margin-left: 91.66666666666666%;
}
.v-col--md-offset-12 {
  margin-left: 100%;
}
}
@media (min-width: 992px) {
.v-col--lg-no-gutters {
  padding: 0;
}
.v-col--lg-align-top {
  align-self: flex-start;
}
.v-col--lg-align-center {
  align-self: center;
}
.v-col--lg-align-bottom {
  align-self: flex-end;
}
.v-col--lg-first {
  order: -1;
}
.v-col--lg-last {
  order: 1;
}
.v-col--lg-reset {
  order: 0;
}
.v-col--lg-flex {
  display: flex;
}
.v-col--lg {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.v-col--lg-0 {
  flex: 0 0 0;
  max-width: 0;
}
.v-col--lg-1 {
  flex: 0 0 8.333333333333332%;
  max-width: 8.333333333333332%;
}
.v-col--lg-2 {
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%;
}
.v-col--lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.v-col--lg-4 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.v-col--lg-5 {
  flex: 0 0 41.666666666666664%;
  max-width: 41.666666666666664%;
}
.v-col--lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.v-col--lg-7 {
  flex: 0 0 58.33333333333333%;
  max-width: 58.33333333333333%;
}
.v-col--lg-8 {
  flex: 0 0 66.66666666666666%;
  max-width: 66.66666666666666%;
}
.v-col--lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.v-col--lg-10 {
  flex: 0 0 83.33333333333333%;
  max-width: 83.33333333333333%;
}
.v-col--lg-11 {
  flex: 0 0 91.66666666666666%;
  max-width: 91.66666666666666%;
}
.v-col--lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.v-col--lg-offset-0 {
  margin-left: 0;
}
.v-col--lg-offset-1 {
  margin-left: 8.333333333333332%;
}
.v-col--lg-offset-2 {
  margin-left: 16.666666666666664%;
}
.v-col--lg-offset-3 {
  margin-left: 25%;
}
.v-col--lg-offset-4 {
  margin-left: 33.33333333333333%;
}
.v-col--lg-offset-5 {
  margin-left: 41.666666666666664%;
}
.v-col--lg-offset-6 {
  margin-left: 50%;
}
.v-col--lg-offset-7 {
  margin-left: 58.33333333333333%;
}
.v-col--lg-offset-8 {
  margin-left: 66.66666666666666%;
}
.v-col--lg-offset-9 {
  margin-left: 75%;
}
.v-col--lg-offset-10 {
  margin-left: 83.33333333333333%;
}
.v-col--lg-offset-11 {
  margin-left: 91.66666666666666%;
}
.v-col--lg-offset-12 {
  margin-left: 100%;
}
}
@media (min-width: 1200px) {
.v-col--xl-no-gutters {
  padding: 0;
}
.v-col--xl-align-top {
  align-self: flex-start;
}
.v-col--xl-align-center {
  align-self: center;
}
.v-col--xl-align-bottom {
  align-self: flex-end;
}
.v-col--xl-first {
  order: -1;
}
.v-col--xl-last {
  order: 1;
}
.v-col--xl-reset {
  order: 0;
}
.v-col--xl-flex {
  display: flex;
}
.v-col--xl {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.v-col--xl-0 {
  flex: 0 0 0;
  max-width: 0;
}
.v-col--xl-1 {
  flex: 0 0 8.333333333333332%;
  max-width: 8.333333333333332%;
}
.v-col--xl-2 {
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%;
}
.v-col--xl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.v-col--xl-4 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.v-col--xl-5 {
  flex: 0 0 41.666666666666664%;
  max-width: 41.666666666666664%;
}
.v-col--xl-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.v-col--xl-7 {
  flex: 0 0 58.33333333333333%;
  max-width: 58.33333333333333%;
}
.v-col--xl-8 {
  flex: 0 0 66.66666666666666%;
  max-width: 66.66666666666666%;
}
.v-col--xl-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.v-col--xl-10 {
  flex: 0 0 83.33333333333333%;
  max-width: 83.33333333333333%;
}
.v-col--xl-11 {
  flex: 0 0 91.66666666666666%;
  max-width: 91.66666666666666%;
}
.v-col--xl-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.v-col--xl-offset-0 {
  margin-left: 0;
}
.v-col--xl-offset-1 {
  margin-left: 8.333333333333332%;
}
.v-col--xl-offset-2 {
  margin-left: 16.666666666666664%;
}
.v-col--xl-offset-3 {
  margin-left: 25%;
}
.v-col--xl-offset-4 {
  margin-left: 33.33333333333333%;
}
.v-col--xl-offset-5 {
  margin-left: 41.666666666666664%;
}
.v-col--xl-offset-6 {
  margin-left: 50%;
}
.v-col--xl-offset-7 {
  margin-left: 58.33333333333333%;
}
.v-col--xl-offset-8 {
  margin-left: 66.66666666666666%;
}
.v-col--xl-offset-9 {
  margin-left: 75%;
}
.v-col--xl-offset-10 {
  margin-left: 83.33333333333333%;
}
.v-col--xl-offset-11 {
  margin-left: 91.66666666666666%;
}
.v-col--xl-offset-12 {
  margin-left: 100%;
}
}
.v-grid {
box-sizing: border-box;
display: flex;
flex-direction: column;
padding: 0 0.5rem;
}
.v-grid--container {
margin: 0 auto;
max-width: 1200px;
width: 100%;
}
.v-grid--no-gutters {
padding: 0;
}
.v-grid--xs-no-gutters {
margin: 0;
}
@media (min-width: 544px) {
.v-grid--sm-no-gutters {
  margin: 0;
}
}
@media (min-width: 768px) {
.v-grid--md-no-gutters {
  margin: 0;
}
}
@media (min-width: 992px) {
.v-grid--lg-no-gutters {
  margin: 0;
}
}
@media (min-width: 1200px) {
.v-grid--xl-no-gutters {
  margin: 0;
}
}
.v-row {
box-sizing: border-box;
display: flex;
flex: 0 1 100%;
flex-direction: row;
flex-wrap: wrap;
list-style: none;
margin: -1rem -0.5rem 1rem;
padding: 0;
}
.v-row:last-child {
margin-bottom: 0;
}
.v-row--no-gutters {
margin: 0;
}
.v-row--top {
align-items: flex-start;
}
.v-row--center {
align-items: center;
}
.v-row--bottom {
align-items: flex-end;
}
.v-row--reverse {
flex-direction: row-reverse;
}
.v-row--xs-no-gutters {
margin: 0;
}
.v-row--xs-top {
align-items: flex-start;
}
.v-row--xs-center {
align-items: center;
}
.v-row--xs-bottom {
align-items: flex-end;
}
.v-row--xs-reverse {
flex-direction: row-reverse;
}
@media (min-width: 544px) {
.v-row--sm-no-gutters {
  margin: 0;
}
.v-row--sm-top {
  align-items: flex-start;
}
.v-row--sm-center {
  align-items: center;
}
.v-row--sm-bottom {
  align-items: flex-end;
}
.v-row--sm-reverse {
  flex-direction: row-reverse;
}
}
@media (min-width: 768px) {
.v-row--md-no-gutters {
  margin: 0;
}
.v-row--md-top {
  align-items: flex-start;
}
.v-row--md-center {
  align-items: center;
}
.v-row--md-bottom {
  align-items: flex-end;
}
.v-row--md-reverse {
  flex-direction: row-reverse;
}
}
@media (min-width: 992px) {
.v-row--lg-no-gutters {
  margin: 0;
}
.v-row--lg-top {
  align-items: flex-start;
}
.v-row--lg-center {
  align-items: center;
}
.v-row--lg-bottom {
  align-items: flex-end;
}
.v-row--lg-reverse {
  flex-direction: row-reverse;
}
}
@media (min-width: 1200px) {
.v-row--xl-no-gutters {
  margin: 0;
}
.v-row--xl-top {
  align-items: flex-start;
}
.v-row--xl-center {
  align-items: center;
}
.v-row--xl-bottom {
  align-items: flex-end;
}
.v-row--xl-reverse {
  flex-direction: row-reverse;
}
}
.v-text--left {
text-align: left;
}
.v-text--right {
text-align: right;
}
.v-text--center {
text-align: center;
}
.v-text--xs-right {
text-align: right;
}
.v-text--xs-left {
text-align: left;
}
.v-text--xs-center {
text-align: center;
}
@media (min-width: 544px) {
.v-text--sm-right {
  text-align: right;
}
.v-text--sm-left {
  text-align: left;
}
.v-text--sm-center {
  text-align: center;
}
}
@media (min-width: 768px) {
.v-text--md-right {
  text-align: right;
}
.v-text--md-left {
  text-align: left;
}
.v-text--md-center {
  text-align: center;
}
}
@media (min-width: 992px) {
.v-text--lg-right {
  text-align: right;
}
.v-text--lg-left {
  text-align: left;
}
.v-text--lg-center {
  text-align: center;
}
}
@media (min-width: 1200px) {
.v-text--xl-right {
  text-align: right;
}
.v-text--xl-left {
  text-align: left;
}
.v-text--xl-center {
  text-align: center;
}
}
