.site-nav {
  &__list {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  &__list-item {
    display: inline-block;
    margin: 0 14px;
    font-weight: 400;
    > a {
      color: #2A3749;
      text-decoration: none;
      font-size: 17px;
    }
  }
}
