.headline {

  &--boxed {
    padding: 45px 50px;
    background: #EDFBFF;
    border-radius: 4px;
  }

  &--mb {
    margin-bottom: 60px;
  }

  &__content {
    &--small {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}
