/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

@at-root {
  @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}

html,
body {
  height: 100%;
}

html {
  font-family: "Avenir", sans-serif;
  letter-spacing: -0.01em;
  color: #2A3749;
  font-size: 22px;
  line-height: 32px;
  background-color: #fff;
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  &::-webkit-scrollbar {
    width: 10px;
    width: 15px;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    background:linear-gradient(90deg,#fbfbfb,#fbfbfb 1px,#fbfbfb 0, #fbfbfb)
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,#00ccff,#00B7E7);
    border-radius:30px;
    box-shadow:inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25)
  }
}

::selection {
  background: transparent;
  color: #00B7E7;
}

::-moz-selection {
  background: transparent;
  color: #00B7E7;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
